*{
    padding: 0px;
    margin: 0px;
}

.headerIndex{
    background: #012030;
    height: 70px;
    display: grid;
    align-items: center;
    grid-template-columns: 150px calc(100% - 220px) auto;
}

.headerIndex p{
    color:#FFFFFF;
    font-size: 35px;
}

.exitContainer{
    width: 70px;
    height: 70px;
    float: right;
    background: none;
    border: none;
}

.exitContainer:hover{
    padding-right: 20px;
    transition-duration: 300ms;
}

#imgContainer{
    height: 70px;
    width: 140px;
    display: grid;
    justify-content: center;
    align-content: center;
}

#imgContainer img{
    margin: 0 auto;
    width: 80px;
}

.containerContent{
    height: calc(100vh - 70px);
    display: grid;
    background: #f0f0f0;
    width: 100px;
    float: left;
}

:root { font-family: 'Inter' }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}