*{
    margin: 0px;
    padding: 0px;
}

.container{
    background: #012030;
    height: 100vh;
}

.headerLogin{
    height: 100px;
    background-color: #012030;
}

.headerLogin img{
    float: left;
    margin: 15px;
    width: 100px;
}


.title{
    color: #FFFFFF;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

.container_form{
    height: calc(100% - 260px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.inputs_container{
    display: flex;
    flex-direction: column;
}

.loginButton{
    width: 250px;
    height: 55px;
    background: #13678A;
    border-radius: 10px;
    border: 0px;
    color: #FFFFFF;
    font-size: 30px;
    margin: 0 auto;
}

.error_login{
    margin: 0 auto;
    padding: 0px;
    height: 20px;
    color: #ea5c61;
}

.linksContainer{
    margin: 0 auto;
    text-align: center;
}

.linkLogin{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    background: none;
    border: none;
    margin: 5px;
}

.linkLogin:hover{
    font-size: 18px;
    transition-duration: 300ms;
}

.containerContentPage{
    width: calc(100% - 140px);
    height: calc(100vh - 110px);
    margin-left: 100px;
    padding: 20px;
    background: #f0f0f0;
}

:root { font-family: 'Inter' }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}